body {
  font-family: "SegoeUi";
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.frame{
  width: 100%;
  border: 1px solid gray;
  display: flex;
  flex-direction: row;
}
nav{
  width: 15%;
  position: relative;
}
.fixed_block{
  width: 15%;
  position: fixed;
  box-shadow: 0 0 2px 2px gray;
  height: 100vh;
}
.header{
  padding: 25px 0 25px 3%;
  font-size: 22px;
  font-weight: bold;
  color: black!important;
  opacity: 70%;
}
.first_header{
  padding: 25px 0 25px 17%!important;
  border-bottom: 1px solid gray;
}
.burger_and_header{
  display: flex;
  flex-direction: row;
}
.burger-menu {
  padding: 0;
  display: none;
  width: 10%;
}
.burger-menu .wrapper {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-start;
  height: 100%;
}
.wrapper #check-menu {
  display: none;}
.burger-menu .wrapper .label_menu {
  display: block;
  width: 60px;
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  z-index: 5;

}
.wrapper .label_menu .burger-line {
  display: block;
  position: absolute;
  top: 0;
  left: 30%;
  width: 100%;
  height: 8px;
  border-radius: 3px;
  background-color: #8A8A8A;
  z-index: 8;}
.burger-menu .wrapper .label_menu .third-line {
  top: 20px; }
.burger-menu .wrapper .label_menu .fourth-line {
  top: 40px; }
.burger-menu .wrapper #check-menu:checked ~ .label_menu {
  position: fixed;
  }
.burger-menu .wrapper #check-menu:checked ~ .label_menu .burger-line{
  left:0;
}
.burger-menu .wrapper .navigation_menu {
  padding-top: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  width: 0;
  font-size: 0;
  overflow: hidden;
  background-color: rgba(18, 18, 18, 0.97);
  z-index: 2; }
.burger-menu .wrapper .navigation_menu li {
  display: block;
  line-height: 29px; }
.burger-menu .wrapper .navigation_menu li .menu_links {
  display: block;
  width: 100%;
  padding: 20px 0 0 16px;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 24px; }
.burger-menu .wrapper .navigation_menu li .menu_links:hover {
  color: #c32056; }
.burger-menu .wrapper #check-menu:checked ~ .navigation_menu {
  width: 30%;
  font-size: 24px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none; }
.burger-menu .wrapper #check-menu:checked ~ .label_menu .first-line {
  display: none; }
.burger-menu .wrapper #check-menu:checked ~ .label_menu .second-line {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 10px;
  background-color: #FFFFFF; }
.burger-menu .wrapper #check-menu:checked ~ .label_menu .third-line {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 10px;
  background-color: #FFFFFF; }
.burger-menu .wrapper #check-menu:checked ~ .label_menu .fourth-line {
  display: none; }


nav .fixed_block ul{
  padding: 35px 5% 0 5%;
}
nav .fixed_block ul li a{
  display: block;
  padding: 15px 0 15px 15%;
  text-decoration: none;
  color: #868686;
  transition: .3s;
}
nav .fixed_block ul li a:hover{
  background-color: #c32056;
  color: #f6f7f7;
  box-shadow: 1px 1px 1px 1px #b74268;
}
nav .fixed_block ul li a::before{
  content: "";
  padding-right: 20px;
  margin-right: 10px;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  background-size: 100%;
}
nav .fixed_block ul li:nth-child(1) a::before{
  background-image: url("../img/dashboard_gray.svg");
}
nav .fixed_block ul li:nth-child(2) a::before{
  background-image: url("../img/account_gray.svg");
}
nav .fixed_block ul li:nth-child(3) a::before{
  background-image: url("../img/map_gray.svg");
}
nav .fixed_block ul li:nth-child(4) a::before{
  background-image: url("../img/notify_gray.svg");
}
nav .fixed_block ul li:nth-child(5) a::before{
  background-image: url("../img/support_gray.svg");
}
nav .fixed_block ul li a:hover:before{
  filter: brightness(200%);
}
body .frame main{
  display: flex;
  flex-direction: column;
  width: 85%;
  color: #868686;
}
body .frame main .first_row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3% 0 3%;
}
body .frame main .first_row ul{
  box-shadow: 2px 2px 2px 2px gray;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  flex-basis: 20.6%;
  position: relative;
  padding: 20px 1.6% 0 1.6%;
}
body .frame main .first_row ul li{
  padding: 0 0 20px 0;
  display: block;
  width: 100%;
  text-align: right;
}
body .frame main .first_row ul li:nth-child(1){
  padding-bottom: 0!important;
}
body .frame main .first_row ul li:nth-child(2){
  font-size: 170%;
  color: #5f5c5c;
  border-bottom: 1px solid #c8c3c3;
}
body .frame main .first_row ul li:nth-child(4){
  text-align: left;
  padding: 20px 0 20px 7%;
}
body .frame main .first_row ul li:nth-child(3){
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center center;
  padding-bottom: 0!important;
  width: 35%;
  height: 100px;
  position: absolute;
  top:-30px;
  left:7%;
  box-shadow: 1px 1px 1px 1px
}
body .frame main .first_row ul:nth-child(1) li:nth-child(3){
  background-image: url("../img/data_white.svg");
  background-color: #1e7e34;
}
body .frame main .first_row ul:nth-child(2) li:nth-child(3){
  background-image: url("../img/shop_white.svg");
  background-color: #e7951a;
}
body .frame main .first_row ul:nth-child(3) li:nth-child(3){
  background-image: url("../img/tag_white.svg");
  background-color: #1e41ab;
}
body .frame main .first_row ul:nth-child(4) li:nth-child(3){
  background-image: url("../img/paperplane_white.svg");
  background-color: #941798;
}
body .frame main .first_row ul li:nth-child(4)::before{
  content: "";
  padding-right: 18px;
  margin-right: 7px;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  background-size: 100%;
}
body .frame main .first_row ul:nth-child(1) li:nth-child(4)::before{
  background-image: url("../img/alert.png");
}
body .frame main .first_row ul:nth-child(2) li:nth-child(4)::before{
  background-image: url("../img/calendar.png");
}
body .frame main .first_row ul:nth-child(3) li:nth-child(4)::before{
  background-image: url("../img/down.png");
}
body .frame main .first_row ul:nth-child(4) li:nth-child(4)::before{
  background-image: url("../img/time.png");
}


body .frame main .second_row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3% 0 3%;
}
body .frame main .second_row ul{
  box-shadow: 2px 2px 2px 2px gray;
  flex-basis: 29%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 180px 1.6% 0 1.6%;
}
body .frame main .second_row ul li{
  display: block;
  width: 100%;
}
body .frame main .second_row ul li:nth-child(1){
  font-size: 19px;
}
label{
  margin-left: 2%;
}
label:hover{
  color: #b8afaf;
}
body .frame main .second_row ul li:nth-child(2){
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}
body .frame main .second_row ul li:nth-child(3){
  background-repeat: no-repeat;
  background-size: 90%;
  background-color: #1e7e34;
  background-position: center center;
  width: 90%;
  height: 200px;
  position: absolute;
  top:-30px;
  left:5%;
  box-shadow: 1px 1px 1px 1px gray;
}
body .frame main .second_row ul:nth-child(1) li:nth-child(3){
  background-image: url("../img/graphics.svg");
  background-color: #1e7e34;
}
body .frame main .second_row ul:nth-child(2) li:nth-child(3){
  background-image: url("../img/graphics.svg");
  background-color: #e7951a;
}
body .frame main .second_row ul:nth-child(3) li:nth-child(3){
  background-image: url("../img/graphics.svg");
  background-color: #1e41ab;
}
body .frame main .second_row ul li:nth-child(4){
  padding: 20px 0;
}
body .frame main .second_row ul:nth-child(1) li:nth-child(4)::before{
  content: "";
  background-image: url("../img/time.png");
  padding-right: 18px;
  margin-right: 10px;
  background-repeat: no-repeat;
  width: 36px;
  height: 38px;
  background-size: 100%;
}
body .frame main .second_row ul:nth-child(2) li:nth-child(4)::before{
  content: "";
  background-image: url("../img/time.png");
  padding-right: 18px;
  margin-right: 10px;
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
  background-size: 100%;
}
body .frame main .second_row ul:nth-child(3) li:nth-child(4)::before{
  content: "";
  background-image: url("../img/time.png");
  padding-right: 18px;
  margin-right: 10px;
  background-repeat: no-repeat;
  width: 36px;
  height: 38px;
  background-size: 100%;
}


body .frame main .third_row form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3% 0 3%;
}
body .frame main .third_row form .tasks_ul{
  box-shadow: 2px 2px 2px 2px gray;
  flex-basis: 46%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  padding: 60px 1.6% 0 1.6%;
}
body .frame main .third_row form .tasks_ul li{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 2% 20px 2%;
  border-bottom: 1px solid gray;
}
body .frame main .third_row form .tasks_ul li:nth-child(1),
body .frame main .third_row form .tasks_ul li:nth-child(5){
  border-bottom: none!important;
}

body .frame main .third_row form .tasks_ul li label{
  flex-basis: 100%;
}
body .frame main .third_row form .tasks_ul li input:nth-child(3){
  background-image: url("../img/edit.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  width: 20px;
  height: 20px;
  margin-left: 2%;
  border: none;
  border-radius: 50%;
  transition: .3s;
}
body .frame main .third_row form .tasks_ul li input:nth-child(3):hover{
  filter: brightness(120%);
}
body .frame main .third_row form .tasks_ul li input:nth-child(4){
  background-image: url("../img/remove.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  width: 20px;
  height: 20px;
  margin-left: 3%;
  border: none;
  border-radius: 50%;
  transition: .3s;
}
body .frame main .third_row form .tasks_ul li input:nth-child(4):hover{
  filter: brightness(120%);
}
body .frame main .third_row form .tasks_ul .tasks_li_absolute{
  padding: 0!important;
  background-color: #e7951a;
  width: 94%;
  height: 80px;
  position: absolute;
  top:-30px;
  left:3%;
  box-shadow: 1px 1px 1px 1px gray;
}
body .frame main .third_row form .tasks_ul .tasks_li_absolute .absolute_ul{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20% 0 5%;
  color: white;
}
body .frame main .third_row form .tasks_ul .tasks_li_absolute .absolute_ul li{
  text-align: center;
  display: block;
  width: 100%;
}
body .frame main .third_row form .tasks_ul .tasks_li_absolute .absolute_ul li a{
  display: block;
  padding: 10px 5%;
  color: white;
  text-decoration: none;
  width: 100%;
  transition: .4s;
}
body .frame main .third_row form .tasks_ul .tasks_li_absolute .absolute_ul li a:hover{
  background-color: #dead49;
  box-shadow: 1px 1px 1px 1px #e79157;
}

body .frame main .third_row form .workers_ul{
  box-shadow: 2px 2px 2px 2px gray;
  flex-basis: 46%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 85px 1.6% 0 1.6%;
}
body .frame main .third_row form .workers_ul .worker_li ul{
  display: flex;
  flex-direction: row;
}
body .frame main .third_row form .workers_ul .worker_li .sea_text{
  color: #5b9e96;
}
body .frame main .third_row form .workers_ul .worker_li ul li:nth-child(1){
  flex-basis: 10%;
  text-align: center;
}
body .frame main .third_row form .workers_ul .worker_li ul li:nth-child(2){
  flex-basis: 38%;
  padding-left: 7%;
}
body .frame main .third_row form .workers_ul .worker_li ul li:nth-child(3){
  flex-basis: 32%;
}
body .frame main .third_row form .workers_ul .worker_li ul li:nth-child(4){
  flex-basis: 20%;
}
body .frame main .third_row form .workers_ul .worker_li{
  border-bottom: 1px solid gray;
  padding: 10px 0;
  margin: 0 3%;
}
body .frame main .third_row form .workers_ul .worker_li:nth-child(6){
  border-bottom:none!important;
}
body .frame main .third_row form .workers_ul .workers_li_absolute{
  padding: 0!important;
  background-color: #1e41ab;
  width: 94%;
  position: absolute;
  top:-30px;
  left:3%;
  box-shadow: 1px 1px 1px 1px gray;
  color: white;
}
body .frame main .third_row form .workers_ul .workers_li_absolute .absolute_ul_workers{
  display: flex;
  flex-direction: column;
  padding: 15px 5% 10px 5%;
}
body .frame main .third_row form .workers_ul .workers_li_absolute .absolute_ul_workers li{
  display: block;
  padding-bottom: 10px;
}
body .frame main .third_row form .workers_ul .workers_li_absolute .absolute_ul_workers li:nth-child(1){
  font-size: 20px;
}
body .frame main .hr{
  margin: 70px 0 0 2%;
  border-bottom: 1px solid gray;
}
footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 3%;
}
footer .footer_nav{
  display: flex;
  flex-direction: row;
}
footer .footer_nav a{
  font-size: 18px;
  text-transform: uppercase;
  color: #4f4a5b;
  text-decoration: none;
  padding: 0 15%;
  display: block;
  transition: .3s;
  font-weight: bold;
}
footer .footer_nav a:hover{
  color: #8f8d94;
}

.popup{
  position: fixed;
  width: 85%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  right: -2px;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all .8s ease 0s;
  border: 1px solid gray;
}
.popup:target{
  opacity: 1;
  visibility: visible;
}
.popup:target .popup_content {
  transform: perspective(600px) translate(0, 0%) rotateY(0deg);
  opacity: 1;
}
.popup_body{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup_content{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 30px 3%;
  position: relative;
  transition: all .8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(-100%, 0) rotateY(45deg);
}
.popup_close{
  background-image: url("../img/remove.png");
  position: absolute;
  width: 30px;
  height: 30px;
  background-position: center center;
  top: 50px;
  right: 10px;
  font-size: 18px;
  color: gray;
  text-decoration: none;
  border-radius: 50%;
  z-index: 3;
}
.popup_close:hover{
  filter: brightness(120%);
}
h3{
  padding: 25px 0 25px 0;
  font-size: 22px;
  font-weight: bold;
  color: black;
  opacity: 70%;
}
.popup_main{
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.profile_user{
  width: 65%;
  display: flex;
  height: 490px;
  border: 1px solid gray;
}
.info_user{
  margin-left: 1%;
  width: 35%;
  height: 290px;
  border: 1px solid gray;
}
.user_ul{
  position: relative;
}
.user_absolute_li{
  position: absolute;
  top:-30px;
  left: 3%;
  width: 94%;
  height: 80px;
  background-color: #c32056;
}
.user_li:nth-child(2){
  padding-top: 50px;
}
.user_li ul{
  display: flex;
  flex-direction: row;
  padding: 10px 3% 0 3%;
}
.user_li:nth-child(2) ul li{
  display: block;
  flex-basis: 33%;
  padding-right: 2%;
}
.user_li:nth-child(3) ul li{
  display: block;
  flex-basis: 48%;
  padding-right: 2%;
}
.user_li:nth-child(3) input[type="text"]{
  padding-left: 2%!important;
}
.user_li:nth-child(4){
  display: block;
  padding-top: 10px;
  margin: 0 4.9% 0 3%;
}
.user_li:nth-child(4) input[type="text"]{
  padding-left: 1%!important;
}
.user_li:nth-child(5) ul li{
  display: block;
  flex-basis: 33%;
  padding-right: 2%;
}
.user_li:nth-child(7){
  display: flex;
  justify-content: flex-end;
}
input[type="button"]{
  background-color: #c32056;
  margin: 15px 3.5% 0 0;
  width: 31%;
  height: 40px;
  text-transform: uppercase;
  color: white;
  border: none;
  box-shadow: 1px 1px 1px 1px gray;
  transition: .3s;
}
input[type="button"]:hover{
  background-color: #de4074;
  color: #d6d5d5;
}
input[type="text"], input[type="email"]{
  border:none;
  border-bottom: 1px solid gray;
  padding-bottom: 25px;
  padding-top: 10px;
  width: 100%;
  padding-left: 3%;
}
textarea{
  padding-top: 20px;
  margin-left: 3%;
  padding-left: 0.9%;
  font-size: 16px;
  font-family: "SegoeUI";
  box-sizing: border-box;
  width: 93.4%;
  height: 100%;
  border:none;
  border-bottom: 1px solid gray;
}
.footer_popup{
  padding-left: 0;
  font-weight: bold;
}
.footer_popup small{
  font-weight: normal;
  color: #868686;
}
.info_user{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info_user li{
  text-align: center;
}
.info_user li:nth-child(1){
  position:absolute;
  top: -45px;
  left: auto;
  background-image: url("../img/page.jpg");
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.info_user li:nth-child(2){
  margin-top: 90px;
  color: #868686;
  text-transform: uppercase;
}
.info_user li:nth-child(3){
  margin-top: 15px;
}
.info_user li:nth-child(4){
  margin-top: 15px;
  color: #868686;
  padding: 0 20px 0 20px;
}
.hr_2{
  margin: 70px -5% 0 -5%;
  border-bottom: 1px solid gray;
}
input:focus:valid{
  box-shadow: 0 0 2px 2px #1fe71f;
}
input:focus:invalid{
  box-shadow: 0 0 2px 2px red;
}