




@media (min-width: 576px) {/* CSS ���: 576px <= ������ <= 767px */}


@media (min-width: 768px) {/* CSS ���: 768px <= ������ <= 991px */}


@media (min-width: 992px) {/* CSS ���: 992px <= ������ <= 1119px */}


@media (min-width: 800px) and (max-width: 999px){
    nav .fixed_block ul li a{
        padding-left: 4%;
    }
    body .frame main .first_row{
        flex-wrap: wrap;
    }
    body .frame main .first_row ul{
        flex-basis: 46%;
    }
    body .frame main .third_row form{
        flex-direction: column;
    }
    body .frame main .third_row form .workers_ul{
        flex-basis: 90%;
    }

    .popup_main {
        display: flex;
        flex-direction: column;
    }
    .popup_main .profile_user{
        margin-top: 50px;
        order: 1;
        width: 100%;
    }
    .popup_main .info_user{
        order: 0;
        width: 100%;
        margin-left: 0;
    }

}
@media (min-width: 650px) and (max-width: 799px){
    body .frame nav{
        display: none;
    }
    body .frame main{
        width: 100%;
    }
    body .frame main .first_row{
        flex-wrap: wrap;
    }
    body .frame main .first_row ul{
        flex-basis: 46%;
    }
    body .frame main .third_row form{
        flex-direction: column;
    }
    body .frame main .third_row form .workers_ul{
        flex-basis: 90%;
    }
    .burger-menu{
        display: block;
        z-index: 20;
    }
    .header_0{
        margin-left: 5%;
    }
    .popup{
        width: 100%;
        z-index: 11;
    }
    .popup_main {
        display: flex;
        flex-direction: column;
    }
    .popup_main .profile_user{
        margin-top: 50px;
        order: 1;
        width: 100%;
    }
    .popup_main .info_user{
        order: 0;
        width: 100%;
        margin-left: 0;
    }
    h3{
        margin-left: 10%;
    }
}
@media (min-width: 500px) and (max-width: 649px){
    body .frame nav{
        display: none;
    }
    body .frame main{
        width: 100%;
    }
    body .frame main .first_row{
        flex-wrap: wrap;
    }
    body .frame main .first_row ul{
        flex-basis: 46%;
    }
    body .frame main .third_row form{
        flex-direction: column;
    }
    body .frame main .third_row form .workers_ul{
        flex-basis: 90%;
    }
    body .frame main .second_row{
        flex-wrap: wrap;
    }
    body .frame main .second_row ul{
        flex-basis: 100%;
    }
    .burger-menu{
        display: block;
        z-index: 20;
    }
    .header_0{
        margin-left: 5%;
    }
    .burger-menu .wrapper #check-menu:checked ~ .navigation_menu{
        width: 35%;
    }
    .popup{
        width: 100%;
        z-index: 11;
    }
    .popup_main {
        display: flex;
        flex-direction: column;
    }
    .popup_main .profile_user{
        margin-top: 50px;
        order: 1;
        width: 100%;
    }
    .popup_main .info_user{
        order: 0;
        width: 100%;
        margin-left: 0;
    }
    h3{
        margin-left: 15%;
    }
    footer .footer_nav a{
        padding: 0 5%;
        font-size: 16px;
    }
}
@media (max-width: 499px){
    body .frame nav{
        display: none;
    }
    body .frame main{
        width: 99%;
    }
    body .frame main .first_row{
        flex-wrap: wrap;
    }
    body .frame main .first_row ul{
        flex-basis: 100%;
    }
    body .frame main .third_row form{
        flex-direction: column;
    }
    body .frame main .third_row form .workers_ul{
        flex-basis: 90%;
    }
    body .frame main .second_row{
        flex-wrap: wrap;
    }
    body .frame main .second_row ul{
        flex-basis: 100%;
    }
    body .frame main .first_row ul li:nth-child(3){
        width: 20%;
    }
    .burger-menu{
        display: block;
        z-index: 20;
    }
    .header_0{
        margin-left: 15%;
    }
    .burger-menu .wrapper #check-menu:checked ~ .navigation_menu{
        width: 100%;
    }
    .popup{
        width: 100%;
        z-index: 11;
    }
    .burger-menu .wrapper .navigation_menu li .menu_links{
        padding-left: 28%;
        font-size: 30px;
    }
    .popup_main {
        display: flex;
        flex-direction: column;
    }
    .popup_main .profile_user{
        margin-top: 50px;
        order: 1;
        width: 100%;
    }
    .popup_main .info_user{
        order: 0;
        width: 100%;
        margin-left: 0;
    }
    .profile_user{
        height: 730px;
    }
    .user_li ul{
        flex-direction: column;
    }
    h3{
        margin-left: 30%;
    }
    footer .footer_nav a{
        padding: 0 5%;
        font-size: 14px;
    }
    input[type="button"]{
        width: 40%;
        padding-right: 5%;
    }
    .hr_2{
        margin: 15px -5% 0 -5%;
    }
}