




@media (min-width: 576px) {/* CSS ���: 576px <= ������ <= 767px */}


@media (min-width: 768px) {/* CSS ���: 768px <= ������ <= 991px */}


@media (min-width: 992px) {/* CSS ���: 992px <= ������ <= 1119px */}


@media (min-width: 800px) and (max-width: 999px){
    body .frame main .first_row{
        flex-wrap: wrap;
    }
    body .frame main .first_row ul{
        flex-basis: 46%;
    }
    body .frame main .third_row form{
        flex-direction: column;
    }
    body .frame main .third_row form .workers_ul{
        flex-basis: 90%;
    }
}
@media (min-width: 650px) and (max-width: 799px){
    body .frame nav{
        display: none;
    }
    body .frame main{
        width: 100%;
    }
    body .frame main .first_row{
        flex-wrap: wrap;
    }
    body .frame main .first_row ul{
        flex-basis: 46%;
    }
    body .frame main .third_row form{
        flex-direction: column;
    }
    body .frame main .third_row form .workers_ul{
        flex-basis: 90%;
    }
    .burger-menu{
        display: block;
    }
    .header_0{
        margin-left: 5%;
    }
    .popup{
        width: 100%;
        z-index: 11;
    }
}
@media (min-width: 500px) and (max-width: 649px){
    body .frame nav{
        display: none;
    }
    body .frame main{
        width: 100%;
    }
    body .frame main .first_row{
        flex-wrap: wrap;
    }
    body .frame main .first_row ul{
        flex-basis: 46%;
    }
    body .frame main .third_row form{
        flex-direction: column;
    }
    body .frame main .third_row form .workers_ul{
        flex-basis: 90%;
    }
    body .frame main .second_row{
        flex-wrap: wrap;
    }
    body .frame main .second_row ul{
        flex-basis: 100%;
    }
    .burger-menu{
        display: block;
    }
    .header_0{
        margin-left: 5%;
    }
    .burger-menu .wrapper #check-menu:checked ~ .navigation_menu{
        width: 35%;
    }
    .popup{
        width: 100%;
        z-index: 11;
    }
}
@media (max-width: 499px){
    body .frame nav{
        display: none;
    }
    body .frame main{
        width: 99%;
    }
    body .frame main .first_row{
        flex-wrap: wrap;
    }
    body .frame main .first_row ul{
        flex-basis: 100%;
    }
    body .frame main .third_row form{
        flex-direction: column;
    }
    body .frame main .third_row form .workers_ul{
        flex-basis: 90%;
    }
    body .frame main .second_row{
        flex-wrap: wrap;
    }
    body .frame main .second_row ul{
        flex-basis: 100%;
    }
    body .frame main .first_row ul li:nth-child(3){
        width: 20%;
    }
    .burger-menu{
        display: block;
    }
    .header_0{
        margin-left: 15%;
    }
    .burger-menu .wrapper #check-menu:checked ~ .navigation_menu{
        width: 100%;
    }
    .popup{
        width: 100%;
        z-index: 11;
    }
}